.album__list {
    list-style: none;
    padding: 0 0 0 0rem;
    max-height: 47rem;
    overflow: scroll;
 }

.track__pointer{cursor: pointer;}
.track__link:link, .track__link:visited {
    padding: 1.5rem 3rem;
    transition: all .3s;
    border-right: 1px solid #fff;
    text-decoration: none; }
  .track__link:hover {
    background-color: #F9F5F3;
    transform: translateY(-2px); }
  .track__link--active {
    background-color: #F9F5F3; }
.track__data{
    margin: 0 1rem;
    display: flex;
}
  
   .track__ball{
     background-color:rgb(193, 193, 193);
     display: inline-block;
     border-radius: 50%;
    min-width: 2.3rem;
     min-height: 2.3rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    position: relative;
     vertical-align: middle;

    
  }
  .track__num{
     color: white;
     text-align: center;
     vertical-align: middle;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

   }
   
  .track__name{
    font-size: 1.3rem;
    color: #F59A83;
    text-transform: uppercase;
    font-weight: 600; 
    margin-left: 0.5rem;
  }

  .track__heading{
    font-size: 1.3rem;
    color: #968B87;
    text-transform: uppercase;
    font-weight: 600; 
  
  }

@media (max-width: 768px) {

}