.music__detail {
    display: inline-block;
    margin-bottom: 1.7rem;
    width: 35%;
    color: #fff;
    font-weight: 700;
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 0.95;
 }
.music__detail span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0.3rem 0.7rem;
      background-image: linear-gradient(to right bottom, #FBDB89, #F48982); 
    }

  .text__detail{
      font-weight: 700;
    font-size: 1.55rem;
    text-transform: uppercase;
    line-height: 0.75;
  }