.music__detail {
    display: inline-block;
    margin-bottom: 1.7rem;
    width: 35%;
    color: #fff;
    font-weight: 700;
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 0.95;
 }
.music__detail span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0.3rem 0.7rem;
      background-image: linear-gradient(to right bottom, #FBDB89, #F48982); 
    }

  .text__detail{
      font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1.75;
    width: 64%;
    display: inline-block;

  }

   @media (max-width: 768px) {
     .music__detail {
    margin-bottom: 1.3rem;
    width: 45%;
    font-size: 1.5rem;
    line-height: 0.75;
 }
 .music__detail span {
      padding: 0.2rem 0.5rem;
    }

  .text__detail{
    font-size: 1.3rem;
    line-height: 0.75;
    width: 54%;

  }
   }