.sidebar{
  padding: 0rem 0 3rem;
  grid-area: list;
}
 
.sidebar__list {
    list-style: none;
    max-height: 77rem;
    overflow-y: scroll;
  margin: 0 0 1rem; }

/* @media only screen and (max-width: 768px) */
.sidebar__pages{
    margin-bottom: 3rem;
    padding: 0 3rem; }

.sidebar__pages::after{
      content: "";
      display: table;
      clear: both; }

@media only screen and (max-width: 68.75em) {
  ul.sidebar__list  {
    padding: 0;
  }
  .sidebar__pages{
    margin-bottom: 2rem;
    padding: 0 0.3rem; }
   }