.list__pointer{cursor: pointer;}
.results__link{
    padding-left:1rem;
    transition: all .3s;
  }
  .results__link:hover {
    background-color: rgb(236, 231, 229);
    transform: translateY(-2px); }
  .results__link--active{
    background-color: rgb(236, 231, 229);
    border-right: 2px solid #F59A83;
  }

   
.results__name{
  font-size: 1.3rem;
  color: #F59A83;
  text-transform: uppercase;
  font-weight: 600; }
 
.results__author{
  margin-right: 1.8rem;
  font-size: 1.3rem;
  color: #968B87;
  text-transform: uppercase;
  font-weight: 600; }

  
  @media only screen and (max-width: 68.75em) {
        p.results__author  {
          margin: 0;
          margin-top: 0.5rem;
        }
        h4.results__name{
          margin: 1rem 0;
        }
      
  }