.musicBuilder {
  display: grid;
  grid-template-rows: minmax(80rem, auto);
  grid-template-columns: 1.1fr 2fr 1.1fr;
  grid-template-areas:  "list details playlist";
  
}
  @media only screen and (max-width: 68.75em) {
      .musicBuilder {
  grid-template-columns:1.1fr 1.5fr 1.1fr;
  grid-template-rows: minmax(70rem, auto);


      }
  }






