.authBuilder {
  display: grid;
  grid-template-rows: minmax(80rem, auto);
  grid-template-columns: 1.1fr 2fr 1.1fr;
  grid-template-areas:  "list details playlist";
  
}
  
.auth {
  background-color: #F9F5F3;
  border-top: 1px solid #fff;
grid-area: details;
display: flex;
    align-items: flex-start;
margin: auto;
margin-top: 2rem;
height: 35rem;
padding:2rem 1rem 3rem;
}
.formbtn{
margin-top: 1rem;
margin-left: 23rem;
    
}
.signup__link{
  cursor: pointer;
  color: #F48982;
}
.signup{
  font-size: 1.3rem;
  margin: 4rem;
  margin-top:6rem;
  margin-left: 8rem;
}
.passwordError{
  color: #F48982;
  font-size: 1.3rem;
  margin-left: 5rem;
}
.signup__link:hover{
  color: rgba(245, 85, 73, 0.993);
}

.formSpinner{
  min-width: 38rem;
}







